<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jgybzx.mapper.ScoreMapper">
  <resultMap id="BaseResultMap" type="com.jgybzx.model.Score">
    <id column="score_id" jdbcType="VARCHAR" property="scoreId" />
    <result column="student_id" jdbcType="VARCHAR" property="studentId" />
    <result column="math" jdbcType="INTEGER" property="math" />
    <result column="chinese" jdbcType="INTEGER" property="chinese" />
    <result column="english" jdbcType="INTEGER" property="english" />
    <result column="total_score" jdbcType="INTEGER" property="totalScore" />
  </resultMap>
</mapper>