<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jgybzx.mappers.StudentMapper">

    <resultMap id="userResultMap" type="com.jgybzx.model.Student">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="sex" property="sex"></result>
        <result column="department" property="department"></result>
        <result column="address" property="address"></result>
        <result column="birthday" property="birthday"></result>
    </resultMap>
    <!--int saveAll(List<Student> studentList);    -->
    <insert id="saveAll" parameterType="java.util.ArrayList">
        insert into student (id,name,sex,department,address,birthday)
        values
        <foreach collection="list" item="student" index="index" separator=",">
            (
            #{student.id}, #{student.name}, #{student.sex}, #{student.department},
            #{student.address},#{student.birthday}
            )
        </foreach>
    </insert>
    <!--List<Student> queryAll();-->
    <select id="queryAll" resultMap="userResultMap">
        select * from student;
    </select>
    <!--List<Student> queryByCondition(StudentDto studentDto);-->
    <select id="queryByCondition" parameterType="com.jgybzx.entity.StudentDto" resultMap="userResultMap">
        select * from student
        <where>
            <if test="id != null and id !=''">
                and id = #{id}
            </if>
            <if test="name != null and name !=''">
                and name = #{name}
            </if>
            <if test="sex != null and sex !=''">
                and sex = #{sex}
            </if>
            <if test="department != null and department !=''">
                and department = #{department}
            </if>
            <if test="address != null and address !=''">
                and address = #{address}
            </if>
            <if test="birthday != null and birthday !=''">
                and birthday = #{birthday}
            </if>
        </where>
    </select>


</mapper>